#YBI {
    margin-bottom: 5px;
}

#YBC {
    margin-top: 55px;
}

.YBTR {
    /* color: aliceblue; */
    font-weight: bolder;
    color: black;
}

#ybs {
    font: bold;
    font-weight: bold;
}

#vbtn {
    margin-right: 10px;
}

.class-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Or use "space-between" if you want equal spaces between cards */
}



/* cards css */

/* @import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap'); */

:root{
  /* --primary-color: #00cec9; */
  --primary-color: #0FCB99;
  /* --primary-color: black; */
  --bg-color: #dfe6e9;
  --text-color: white;
}

body{
  background: var(--bg-color);
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}

.container1{
  background: white;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
  padding: 25px 30px;
  color: var(--primary-color);
}

.container1::after{
  content: '';
  background: var(--primary-color);
  border-radius: 15px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  clip-path: circle(10% at 0% 0%);           
  transition: all .3s ease-in;
}

.content1{
  position: relative;
  z-index: 1;
  transition: all .3s ease-in;
}

.container1:hover::after{
  clip-path: circle(100%);
}

.container1:hover .content1{
  color: var(--text-color);
}



/* cards css */

  



  /* body {
    background-color: #fbfbfb;
  }
  
  @media (min-width: 992px) {
    .sidebar {
      height: unset!important;
    }
  } */
  
  /* Sidebar */
  /* .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px; */
    /* z-index: 600; */
  /* }
  
  .sidebar.show {
    height: 100vh;
  }
  
  @media (max-width: 992px) {
    .sidebar {
      width: 100%;
    }
  }
  
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; */
    /* Scrollable contents if viewport is shorter than content. */
  /* } */