/* .profile {
  margin-top: 200px;
}

#pro {
  margin: 50px;
  margin-left: 15px;
}

.form-label {
  font-weight: bold;
  font-style: inherit;
}

.attribute {
  font-weight: normal;
  margin-left: 100px;
  justify-content: left;
  justify-items: left;
}

th,
td {
  padding: 19px;
  text1-align: left;
}

td {
  font-style: italic;
}

#proId {
  font-weight: bolder;
}

.table-borderless {
  margin-left: 497px;
  margin-top: 68px;
}
.card {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
} */






/* .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12%;
}
.user-card {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: #fff;
 border-radius: 10px;
 padding: 40px;
 width: 650px;
 position: relative;
 overflow: hidden;
 box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}

.user-card:before {
  content: '';
  position: absolute;
  height: 300%;
  width: 173px;
  background: #262626;
  top: -60px;
  left: -125px;
  z-index: 0;
  transform: rotate(17deg);
}

.user-card-img {
  display: flex;
  justify-content: center;
  align-items: center;   
  z-index: 3;
}

.user-card-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
    border-radius: 50%;
}

.user-card-info {
  text-align: center;
}

.user-card-info h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
}

.user-card-info p {
  font-size: 14px;
  margin-bottom: 2px;
}
.user-card-info p span {
 font-weight: 700;
 margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .user-card {
    flex-direction: row;
    align-items: flex-start;
  }   
  .user-card-img {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .user-card-info {
    text-align: left;
  }
}

@media (max-width: 767px){
  .wrapper{
     padding-top: 3%;
  }
  .user-card:before {
     width: 300%;
     height: 200px;
     transform: rotate(0);
  }
  .user-card-info h2 {
     margin-top: 25px;
     font-size: 35px;
  }
  .user-card-info p span {
     display: block;
     margin-bottom: 15px;
     font-size: 18px;
  }
} */















@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #ADE5F9;
  min-height: 100vh;
} */
img {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}

/* Utilities */
.card2::after,
.card2 img {
  border-radius: 50%;
}
body,
.card2,
.stats1 {
  display: flex;
}

.card2 {
  padding: 2rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  color: black;
  max-width: 500px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .15);
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}
.card2::before,
.card2::after {
  content: '';
  position: absolute;
  z-index: -1;
}
.card2::before {
  width: 100%;
  height: 100%;
  border: 1px solid #FFF;
  border-radius: 10px;
  top: -.7rem;
  left: -.7rem;
}
.card2::after {
  height: 15rem;
  width: 15rem;
  background-color: #4172f5aa;
  top: -8rem;
  right: -8rem;
  box-shadow: 2rem 6rem 0 -3rem #FFF
}

.card2 img {
  width: 8rem;
  min-width: 80px;
  box-shadow: 0 0 0 5px #FFF;
}

.infos1 {
  margin-left: 1.5rem;
}

.name1 {
  margin-bottom: 1rem;
}
.name1 h2 {
  font-size: 1.3rem;
}
.name1 h4 {
  font-size: .8rem;
  color: #333
}

.text1 {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.stats1 {
  margin-bottom: 1rem;
}
.stats1 li {
  min-width: 5rem;
}
.stats1 li h3 {
  font-size: .99rem;
}
.stats1 li h4 {
  font-size: .75rem;
}

.links1 button {
  font-family: 'Poppins', sans-serif;
  min-width: 120px;
  padding: .5rem;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all .25s linear;
}
.links1 .follow1,
.links1 .view:hover {
  background-color: #222;
  color: #FFF;
}
.links1 .view,
.links1 .follow1:hover{
  background-color: transparent;
  color: #222;
}

@media screen and (max-width: 450px) {
  .card2 {
    display: block;
  }
  .infos1 {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .links1 button {
    min-width: 100px;
  }
} 